<h2>Edit Event: {{event.title}}</h2>
 
<form action="/events/{{event._id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{event.title}}" />
  </label>


   <label> Description:
    <textarea name="description" cols="30" rows="4">{{event.description}}</textarea>
  </label>
 
 
    <label> Location:
    <input type="text" name="location" value="{{event.location}}"/>
  </label>
 
 
   <label> Contact:
    <input type="number" name="contact" min="1" max="10" value="{{event.contact}}"/>
  </label>

   <label>
    Picture: 
   <input type="file" name="picture_url" value="{{event.picture_url}}>
</label>
 
  <button>Save changes</button>
</form>
