<h2>Edit Event: {{event.title}}</h2>
 
<form action="/events/{{event._id}}/edit" method="post" enctype="multipart/form-data">
  
  <div class="formbases">
  <div class="event-container">
  <h2>Edit Event: {{event.title}}</h2>
  
  <label> Title:
    <input type="text" name="title" value="{{event.title}}" />
  </label>


  <div id="description">
  <label for="">Description:</label>
  <input type="text" name="description"/>
  </div>
 
 
    <label> Location:
    <input type="text" name="location" value="{{event.location}}"/>
  </label>
 
 
   <label> Contact:
    <input type="number" name="contact"  value="{{event.contact}}"/>
  </label>

   <label>
    Picture: 
   <input type="file" name="picture_url" class="form-control-file">
<input type="text" name="existingImage" hidden value="{{picture_url}}">
</label>
 
  <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm"> Save Changes </button>
  </div>
  </div>
</form>